#include <Arduino.h>
#include "./Station.h"
#include "./sensors/dht11.h"
#include "./sensors/bme280.h"
#include "./sensors/sht21.h"
# ......

# ___ Custom includes are welcomed ___

# ___ station ___

StationClass station(
  "Station name",
  # WiFi, optional
  {
    ssid : "your ssid",
    password : "your password"
  }
);

# ___ sensors ___

Sensor* sensors[3] = {
  new dht11(D4),
  new bme280(),
  new sht21()
};

# ___ Callback ___

# callback as a declared function
void cb1(BaseStation* station) {
  station->log(station->toString());
}

# ___ loop callback ___

# just for example sake, do not do that, or do but don't tell me it's spitting tons of stuff in Serial ^^
StationCallback_t* loopCallbacks[2] = {
  # using the declared function as a callback
  cb1,
  # using a lambda function as a callback
  [](BaseStation * station){station->log(station->toString());}
};

# ___ timer callback ___

# just for example sake, do not do that, or do but don't tell me it's spitting tons of stuff in Serial ^^
BaseStation::StationCallbackTimer_t timerCallbacks[2] = {
  # using the declared function as a callback every 5 seconds
  {cb1, 5000},
  # using a lambda function as a callback every 12 seconds
  {[](BaseStation * station){station->log(station->toString());}, 12000}
};

# ___ web server callback ___

void wcb(BaseStation* station, AsyncWebServerRequest* request) {
  cb1(station);
}

EspStation::StationWebCallbackInfo_t webRoutes[3] = {
  # using the declared function as a callback
  {wcb, "/route1", "", ""},
  # using a password
  {wcb, "/route2", "my_login", "my_password"},
  # using a lambda function AND a password #GoCrazy #YOLO
  {[](BaseStation * station, AsyncWebServerRequest* request){station->log("#YOLO\n"+station->toString());}, "/go_crazy", "my_login", "my_password"}
};

void setup() {
  # main station setup
  station.setup();

  # sensors setup
  station.setupSensors(sensors, 3);

  # setup loop
  station.setupLoopCallback(loopCallbacks, 2);

  # setup timers
  station.setupTimerCallback(timerCallbacks, 2);

  # setup web server
  station.setupWebServer(webRoutes, 3);

  # ___ custom setup code goes here ___

}

void loop() {
  station.loop();

  # ___ custom loop code goes here ___

}
