body {
  background-color: rgb(13, 17, 23);
  color: rgb(201, 209, 217);
}
.snMs-value,
.snName {
  font-weight: 700;
}
.welcome {
  font-size: 2rem;
  text-align: center;
}
.welcome > .st-n {
  font-weight: bold;
  font-style: italic;
}
.st {
  margin-bottom: 1.5rem;
}
.sensor {
  background-color: var(--bs-gray-dark);
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;
}
.snName {
  font-size: 1.5rem;
}
.stSn {
  width: 33%;
  margin: 0 auto;
}
.snMs {
  margin-bottom: 0.5rem;
}
#station-chart {
  margin-bottom: 1rem;
}
