#include <Arduino.h>
#include "./Station.h"
#include "./sensors/dht11.h"

StationClass station("StationIO",
                     {ssid : "Livebox-5826", password : "AoQKyAbtacbSQyWojf"});
Sensor* sens[1] = {
  new dht11(D4)
};

void timeCB(BaseStation* station) { station->log(station->toString()); }

BaseStation::StationCallbackTimer_t timerCallbacks[1] = {{timeCB, 5000}};

void setup() {
  station.setup();
  station.setupSensors(sens, 1);
  station.setupTimerCallback(timerCallbacks, 1);
}

void loop() {
  station.loop();
}
